APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# ----------------------
#   HH service
# ----------------------
HH_API_URL=https://api.hh.ru/
HH_API_AUTH_URL=https://hh.ru/oauth/authorize
HH_CLIENT_ID=
HH_CLIENT_SECRET=
HH_REDIRECT_URI=${APP_URL}/hh-callback
HH_EMPLOYER=

# ----------------------
#   Estaff service
# ----------------------
ESTAFF_API_URL=
ESTAFF_TOKEN=

# ----------------------
#   Twin service
# ----------------------
TWIN_AUTH_URL=https://iam.twin24.ai/api/v1/
TWIN_API_URL=https://notify.twin24.ai/api/v1/
TWIN_AUTH_EMAIL=
TWIN_AUTH_PASSWORD=
TWIN_CHAT_ID=
TWIN_BOT_ID=
TWIN_PROVIDER=
TWIN_DEFAULT_EXEC=
TWIN_CID=
